{% extends "blog/base.html" %}
{% block content %}
{% load static %}
	<h1>Welcome to <em>Smart Scope</em>!</h1>
	<h3>Let's get started on learning how to record a heart sound</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/KMYzpJLOF1c" frameborder="0" allow="accelerometer;" allowfullscreen></iframe>
	<!-- https://journals.rcni.com/nursing-standard/how-to-auscultate-for-heart-sounds-in-adults-ns.2017.e10965 -->
	

	<div class="card-deck">
  		<div class="card">
    		<img class="card-img-top" src="{% static 'home_pics/stethoscope.jpg' %}" alt="Card image cap">
    		<div class="card-body">
      			<h5 class="card-title">Stethoscope</h5>
      			<p class="card-text">A stethoscope is used to auscultate for heart sounds. The diaphragm of the stethoscope is used to identify high-pitched sounds, while the bell is used to identify low-pitched sounds.</p>
    		</div>
  		</div>
  		<div class="card">
   			<img class="card-img-top" src="{% static 'home_pics/s1s2.jpg' %}" alt="Card image cap">
    		<div class="card-body">
      			<h5 class="card-title">Heart Sounds</h5>
      			<p class="card-text">There are two normal heart sounds that should be elicited in auscultation: S1 (lub) and S2 (dub).</p>
    		</div>
  		</div>
  		<div class="card">
    		<img class="card-img-top" src="{% static 'home_pics/heartsounds.jpg' %}" alt="Card image cap">
    		<div class="card-body">
      			<h5 class="card-title">Where to Place Stethoscope</h5>
      			<p class="card-text">The practitioner should listen over each of the four main heart valve areas: the aortic, pulmonary, tricuspid and mitral valve areas. They should also listen for any additional sounds such as clicks, and heart murmurs.</p>
    		</div>
  		</div>
	</div>


{% endblock content %}